<!DOCTYPE html>
<html>

<head>
  <title>Quản lý File</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
  <h1>Danh sách File</h1>
  <ul>
    <% if (currentDir && currentDir != '.') { %>
      <li>
        <a href="/?dir=<%= parentDir %>" class="folder-icon">
          <i class="fas fa-folder"></i> .. (Back)
        </a>
      </li>
      <% } %>
        <% items.forEach(item=> { %>
          <li>
            <% if (item.isDirectory) { %>
              <a href="/?dir=<%= item.path %>" class="folder-icon">
                <i class="fas fa-folder"></i>
                <%= item.name %>
              </a>
              <% } else { %>
                <a href="/download/<%=`${ item.name}` %>?dir=<%= currentDir %>" class="file-icon" data-type="<%= item.extension %>">
                  <%= item.name %>
                </a>
                <% } %>
          </li>
          <% }); %>
  </ul>
</body>

</html>
